*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather Sans", sans-serif;
}

:root {
  --colorDark1: #112d4e;
  --colorDark2: #3f72af;
  --colorLight1: #dbe2ef;
  --colorLight2: #f9f7f7;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  color: var(--colorLight2);
  background-image : linear-gradient(
    160deg,#112d4e 0% , #3f72af 100%);
}

h1{
    text-align: center;
    text-transform:uppercase ;
    padding-top: 20px;
    letter-spacing: 1.5px;
}
.tab-container{
    display: flex;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 4rem;
    justify-content: space-between;
}

.tab{
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: bold;
    letter-spacing: 1.75px;
    padding: 5px 8px;
}
.tab.current-tab{
    background-color: rgba(219 , 226,239,0.5);
    border-radius: 4px;
}

.weather-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block:2rem;
}
.btn{
    all: unset;
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 1.50px;
    border-radius: 5px;
    background-color: var(--colorDark2);
    cursor: pointer;
    padding: 10px 30px;
}

.location-container{
    display: none;
}

.location-container.active{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-container img{
    margin-bottom:10px;
}
#access{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 1.5px;

}

#info{
    font-size: .80rem;
    font-weight:lighter;
    opacity: .70;
    letter-spacing:1px ;
}

#grant-access{
    margin: 20px 10px;
}


.search-weather-container{
    display: none;
}

.search-weather-container.active{
    display: flex;
    width: 500px;
    height: 30px;
    margin: 20px auto;
    
}

#city-name{
    font-size: .70rem;
    padding-left:20px;
    width: 500px;
    background-color: var(--colorLight1);
    border-radius: 50px;
    letter-spacing: 2px;
}

#search-btn{
    border-radius: 50px;
}

#search-btn img{
    transform: translateY(-4px);
}

